/*********** css start   ***/
body{
	background:#fafafa; /* url("../images/money-img.png") no-repeat; */
	position: relative;
	margin:0;
	color:#333;
}
* {
    box-sizing: border-box;
}
ul{
	padding:0;
	margin:0;
}
#sucessfulLogger{
	margin: 0px;
}
.home-img{
	height:40px;
	width:40px;
	border-radius:50%;
}
.success-profile-img{
	height : 150px;
	width : 150px;
	border-radius : 50%;
}
.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}
.f-left{
	float:left;
}
.f-right{
	float:right;
}
.login {
    background: #fff;
    border: 1px solid #ccc;
    left: 50%;
    margin-left: -200px;
    margin-top: 140px;
    position: absolute;
    top: 50%;
    width: 400px;
      -moz-box-shadow: 0px 0px 1px rgba(68,68,68,0.6);
  -webkit-box-shadow: 0px 0px 1px rgba(68,68,68,0.6);
  box-shadow: 0px 0px 1px rgba(68,68,68,0.6);
  border-radius:10px;
}
.login-error {
    border: 1px solid #f00;
    color: #f00;
    margin: 0 10px 10px;
    padding: 5px 20px;
    text-align: center;
}
.kform {
    padding: 10px;
}
.kform label {
    font-family: sans-serif;
    font-size: 14px;
}
.login-title {
    background:-moz-linear-gradient(center bottom , #efefef 0%, #fafafa 100%) repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 1px white inset;
    color: #333;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px;
    text-align: left;
}
.soft-logo {
    background:-moz-linear-gradient(center bottom , #4d5b76 0%, #6f80a1 100%) repeat scroll 0 0;
    box-sizing: border-box;
    color: #f0f0e8;
    font-size: 24px;
    padding: 10px 20px;
    width: 100%;
}
.kform input {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 16px;
    height: 40px;
    margin: 5px 0 10px;
    padding: 10px;
    width: 100%;
}
.submit input {
    background: #414959 none repeat scroll 0 0;
    border: medium none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 100px;
}
.submit > input:hover {
    background: #3276b1 none repeat scroll 0 0;
    color: #fff;
}
.submit {
    text-align: center;
}
/* costumer registration css start */
.customer-menu {
    background: #ddd none repeat scroll 0 0;
}
.customer-menu ul {
    text-align: center;
}
.customer-menu ul li {
    display: inline-block;
    padding: 10px;
}

.customer-menu ul li:first-child a {
    border-left: 1px solid;
    padding-left: 20px;
}
.customer-menu ul li a {
    border-right: 1px solid;
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding-right: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.customer-menu ul li a:hover {
    text-decoration: underline;
}
.main-contain{
	width: 85%;
	float:right;
}
.main-contain-content{
	padding : 0px 18px;
	content : "";
}
.alert-info{
	margin: 14px 0;
	display: block;
}
/* costumer registration css end */


/*sidebar css start*/
.sidebar {
    background: #c0e8d1 none repeat scroll 0 0;
    height: 100%;
    position: fixed;
    width: 15%;
}
.sidebar ul li {
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px;
    list-style:none;
}




/*sidebar css end*/
/* footer css start  */
.footer {
    background: #ebebeb none repeat scroll 0 0;
    padding: 10px 20px;
}
/* footer css end */
/* inside main containers header css */
.main-contain-header{
	background : #aaa none repeat scroll 0 0;
	padding : 12px 18px;
	border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-top: 1px solid #cccccc;
}
.to-right {
	float:right;
}
.main-contain-header h1{
	padding : 0px;
	margin : 16px 0px;
	line-height : 28px;
	font-size : 25px;
}
ul > li.orange {
    background: none repeat scroll 0 0 #F8A31F;
}
ul > li.green {
    background: none repeat scroll 0 0 #339933;
}
.stats {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.stats > li {
    float: left;
    margin-right: 15px;
    padding: 10px;
}
.stats > li:after {
    clear: both;
    content: "";
    display: table;
}
.stats > li:last-child {
    margin-right: 0;
}
.stats > li i {
    color: #FFFFFF;
    float: left;
    font-size: 30px;
    margin: 5px 0;
}
.stats > li .details {
    margin-left: 50px;
}
.stats > li .details:after {
    clear: both;
    content: "";
    display: table;
}
.stats > li .details span {
    color: #FFFFFF;
    display: block;
    font-size: 11px;
}
.stats > li .details span.big {
    font-size: 16px;
}
/* inside main container header end */
/* navigation path start*/
.nav-show{
	list-style : none;
	padding : 5px 18px;
	background : #aaa none repeat scroll 0 0;
	border-left: 1px solid #cccccc;
	border-top : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;
	margin-bottom:10px;
}
.nav-show li{
	display : inline-block;
}
.divider{
	color : #ddd;
	padding : 0px 5px;
}
.nav-show li:active{
	color: #ddd;
}
/* navigation path end */

.customer-list tr td{
	text-align: right;
}
/* home */
.account-information{
	width : 48%;
	border : 1px solid;
	float: left;
}
.user-info-container{
	margin: 10px 0 0;
}
.profile-pic{
	margin : 10px 0;
}
.user-info{
	width: 100%;
	margin:10px 0px;
	border-spacing: 0;
	border-collapse: collapse;
}
.user-info tr td, .user-info tr th{
	text-align: left;
	padding: 8px;
	line-height: 20px;
	vertical-align: top;
	border-style: none;
}
.user-info tbody tr:nth-child(2n+1) td, .user-info tbody tr:nth-child(2n+1) th {
    background-color: #f9f9f9;
}
/* home end */
/* account information */

.myLogs{
    border: 1px solid;
    float: left;
    margin-left: 3.7%;
    min-height: 402px;
    max-height: 402px;
    width: 48%;
}
.log-table-container{
	height: 100%;
    margin: 10px 0 0;
    max-height: 350px;
    overflow-y: scroll;
}
.log-table{
	width: 100%;
	margin: 10px 0;
	border-spacing: 0;
	border-collapse: collapse;
}
.log-table tr td, .log-table tr th{
	text-align: left;
	padding: 8px;
	line-height: 20px;
	vertical-align: top;
	border-style: none;
}
.log-table tbody tr:nth-child(2n+1) td, .log-table tbody tr:nth-child(2n+1) th{
	background-color: #f9f9f9;
}
/* account information end */


