<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>KJJCSoft</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <error-page>
    <!-- Missing login -->
    <error-code>401</error-code>
    <location>/view/error.jsp</location>
</error-page>
<error-page>
    <!-- Forbidden directory listing -->
    <error-code>403</error-code>
    <location>/view/error.jsp</location>
</error-page>
<error-page>
    <!-- Missing resource -->
    <error-code>404</error-code>
    <location>/view/error.jsp</location>
</error-page>
<error-page>
    <!-- Uncaught exception -->
    <error-code>500</error-code>
    <location>/view/error.jsp</location>
</error-page>
<error-page>
    <!-- Unsupported servlet method -->
    <error-code>503</error-code>
    <location>/view/error.jsp</location>
</error-page>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerRegistration</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistration</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailySavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenDsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailySavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/opendaily</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonthlySavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenMsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlySavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/openmonthly</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FixedDepositSavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenFdsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixedDepositSavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/openfixed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CFixedDepositSavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenCfdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CFixedDepositSavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/opencfixed</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerList</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerList</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountInformation</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.AccountInformationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountInformation</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/AccountInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Users</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.UsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.UserSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/usersearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisteredCustomer</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerRegisteredController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredCustomer</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/registered</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerSearch</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerSearch</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/customersearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DetailsofCustomer</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsofCustomer</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerOverview</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerOverviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerOverview</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/overview</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditCustomerInfo</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.EditCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerInfo</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeInfo</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.ChangeCustomerInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInfo</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/change</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountsSummary</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.SavingAccountsDetailsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsSummary</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/savingdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailySaving</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.DailySavingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailySaving</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/dailysaving</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonthlySaving</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.MonthlySavingsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlySaving</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/monthlysaving</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FixedDeposit</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.FixedDepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixedDeposit</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/fixeddeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CFixedDeposit</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.ContFixedDepositController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CFixedDeposit</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/cfixeddeposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManageAccountInfo</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.ManageAccountInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageAccountInfo</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/manageaccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EditAccountInfo</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.ChangeAccountInfoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditAccountInfo</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/changeacinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CollectorTransaction</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CollectorTransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CollectorTransaction</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/ctransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OfficeTransaction</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OfficeTransactionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfficeTransaction</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/otransaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EMI</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.EMIGeneratorController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EMI</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/EMIGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>AccountStatement</servlet-name>
  	<servlet-class>com.kjjcsoft.controllers.AccountStatementController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AccountStatement</servlet-name>
  	<url-pattern>/com/kjjcsoft/controllers/AccountStatement</url-pattern>
  </servlet-mapping>
</web-app>