<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>KJJCSoft</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerRegistration</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistration</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailySavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenDsAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailySavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/OpenDsAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonthlySavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenMsAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlySavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/OpenMsAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FixedDepositSavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenFdsAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixedDepositSavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/OpenFdsAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CFixedDepositSavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenCfdAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CFixedDepositSavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/OpenCfdAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerList</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerList</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/customers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AccountInformation</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.AccountInformationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountInformation</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/AccountInformation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePassword</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.ChangePasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassword</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/ChangePassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Users</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.UsersController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUser</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.AddUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUser</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserSearch</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.UserSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSearch</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/usersearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisteredCustomer</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerRegisteredController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisteredCustomer</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/registered</url-pattern>
  </servlet-mapping>
</web-app>