<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>KJJCSoft</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerRegistration</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.CustomerRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistration</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/CustomerRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DailySavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenDsAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DailySavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/OpenDsAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MonthlySavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenMsAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlySavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/OpenMsAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FixedDepositSavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenFdsAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FixedDepositSavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/OpenFdsAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CFixedDepositSavings</servlet-name>
    <servlet-class>com.kjjcsoft.controllers.OpenCfdAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CFixedDepositSavings</servlet-name>
    <url-pattern>/com/kjjcsoft/controllers/OpenCfdAccount</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>FrontController</servlet-name>
  	<servlet-class>com.kjjcsoft.controllers.FrontControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FrontController</servlet-name>
  	<url-pattern>/com/kjjcsoft/controllers/FrontController</url-pattern>
  </servlet-mapping>
</web-app>